<p id="notice"><%= notice %></p>


<h1>Listing Trails</h1>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Startlng</th>
      <th>Startlat</th>
      <th>Endlng</th>
      <th>Endlat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trails.each do |trail| %>
      <tr>
			<% @trail = trail %>
        <td><%= trail.Name %></td>
        <td><%= trail.StartLng %></td>
        <td><%= trail.StartLat %></td>
        <td><%= trail.EndLng %></td>
        <td><%= trail.EndLat %></td>
		  <% #render 'show', trail: @trail %>
		  <% #link_to 'Show', request.original_url %>
		  <% #link_to trail.Name, trail, :remote => true, data: { no_turbolink: true } %>
		  <!-- <div id="contenthere"></div> -->
  		  <% @refresh = 0 %>
		  <td><%= link_to 'Show', trail, data: { no_turbolink: true } %></td>
        <td><%= link_to 'Edit', edit_trail_path(trail) %></td>
        <td><%= link_to 'Destroy', trail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trail', new_trail_path %>
